<%
const getFileExtension = (fileName) => fileName.split('.').pop().toLowerCase();
const ext = getFileExtension(fileName);
%>

<% if (['jpg', 'jpeg', 'png', 'gif', 'webp', 'bmp', 'svg'].includes(ext)) { %>
    <!-- Image files -->
    <div class="relative w-6 h-6 flex-shrink-0">
        <img src="/files<%= locals.currentPath === '/' ? '' : locals.currentPath %>/<%= fileName %>" 
             alt="<%= fileName %>" 
             class="w-6 h-6 object-cover rounded border border-gray-300"
             onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
        <svg class="w-6 h-6 text-green-600 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
        </svg>
    </div>
<% } else if (['mp4', 'avi', 'mov', 'mkv', 'webm', 'flv'].includes(ext)) { %>
    <!-- Video files -->
    <div class="relative w-6 h-6 flex-shrink-0">
        <video class="w-6 h-6 object-cover rounded border border-gray-300" muted>
            <source src="/files<%= locals.currentPath === '/' ? '' : locals.currentPath %>/<%= fileName %>" type="video/<%= ext %>">
        </video>
        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded">
            <svg class="w-3 h-3 text-white" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path>
            </svg>
        </div>
    </div>
<% } else if (ext === 'pdf') { %>
    <!-- PDF files -->
    <svg class="w-6 h-6 text-red-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        <path d="M8,11H16V13H8V11M8,15H16V17H8V15M8,7H16V9H8V7Z" fill="white"/>
    </svg>
<% } else if (['doc', 'docx'].includes(ext)) { %>
    <!-- Word documents -->
    <svg class="w-6 h-6 text-blue-700 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        <path d="M7,11L9,17H11L12.5,12.5L14,17H16L18,11H16L15,14.5L13.5,11H11.5L10,14.5L9,11H7Z" fill="white"/>
    </svg>
<% } else if (['xls', 'xlsx'].includes(ext)) { %>
    <!-- Excel files -->
    <svg class="w-6 h-6 text-green-700 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        <path d="M8,12H16V14H8V12M8,16H16V18H8V16M8,8H16V10H8V8Z" fill="white"/>
    </svg>
<% } else if (['ppt', 'pptx'].includes(ext)) { %>
    <!-- PowerPoint files -->
    <svg class="w-6 h-6 text-orange-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        <path d="M8,11V17H10V15H12A2,2 0 0,0 14,13V13A2,2 0 0,0 12,11H8M10,13H12V13H10V13Z" fill="white"/>
    </svg>
<% } else if (ext === 'txt') { %>
    <!-- Text files -->
    <svg class="w-6 h-6 text-gray-600 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
    </svg>
<% } else if (['mp3', 'wav', 'flac', 'aac', 'ogg'].includes(ext)) { %>
    <!-- Audio files -->
    <svg class="w-6 h-6 text-pink-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12,3V13.55C11.41,13.21 10.73,13 10,13A3,3 0 0,0 7,16A3,3 0 0,0 10,19A3,3 0 0,0 13,16V7H17V4H12M10,16.5A1.5,1.5 0 0,1 8.5,15A1.5,1.5 0 0,1 10,13.5A1.5,1.5 0 0,1 11.5,15A1.5,1.5 0 0,1 10,16.5Z"/>
    </svg>
<% } else if (ext === 'py') { %>
    <!-- Python files -->
    <svg class="w-6 h-6 text-yellow-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M9.585,11.692h4.328s2.432.039,2.432-2.35V5.391S16.714,3,11.936,3C7.362,3,7.647,4.983,7.647,4.983l.006,2.055h4.363v.617H5.92s-2.927-.332-2.927,4.282,2.555,4.45,2.555,4.45h1.524V14.11s-.083-2.555,2.513-2.555zm-.056-5.74a.784.784,0,1,1-.785-.785A.785.785,0,0,1,9.529,5.952z"/>
        <path d="M14.415,12.308H10.087s-2.432-.04-2.432,2.35v3.951S7.286,21,12.064,21c4.574,0,4.289-1.983,4.289-1.983l-.006-2.055H12.084v-.617h6.096s2.927.332,2.927-4.282-2.555-4.45-2.555-4.45H16.928V9.89s.083,2.555-2.513,2.555zm.056,5.74a.784.784,0,1,1,.785.785A.785.785,0,0,1,14.471,18.048z"/>
    </svg>
<% } else if (ext === 'java') { %>
    <!-- Java files -->
    <svg class="w-6 h-6 text-red-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M8.851,18.56s-.917.534.653.714c1.902.218,2.874.187,4.969-.211,0,0,.552.346,1.321.646C11.746,21.136,6.977,19,8.851,18.56M8.276,15.933s-1.028.761.542.924c2.032.209,3.636.227,6.413-.308,0,0,.384.389.987.602C10.6,18.239,5.327,16.467,8.276,15.933M13.116,11.475c1.158,1.333-.304,2.533-.304,2.533s2.939-1.518,1.589-3.418c-1.261-1.772-2.228-2.652,3.007-5.688C17.408,4.902,9.441,6.539,13.116,11.475M18.97,19.827s.679.559-.747.991c-2.712.822-11.288,1.069-13.669.033-.856-.373.75-.89,1.254-.998a3.246,3.246,0,0,1,.828-.092c-.95-.671-6.156,1.317-2.643,1.887C13.718,22.936,21.646,20.632,18.97,19.827"/>
    </svg>
<% } else if (ext === 'html') { %>
    <!-- HTML files -->
    <svg class="w-6 h-6 text-orange-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12,17.56L16.07,16.43L16.62,10.33H9.38L9.2,8.3H16.8L17,6.31H7L7.56,12.32H14.45L14.22,14.9L12,15.5L9.78,14.9L9.64,13.24H7.64L7.93,16.43L12,17.56M4.07,3H19.93L18.5,19.68L12,21.5L5.5,19.68L4.07,3Z"/>
    </svg>
<% } else if (ext === 'css') { %>
    <!-- CSS files -->
    <svg class="w-6 h-6 text-blue-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M5,3L4.35,6.34H17.94L17.5,8.5H3.92L3.26,11.83H16.85L16.09,15.64L10.61,17.45L5.86,15.64L6.19,14H2.85L2.06,18L9.91,21L18.96,18L20.16,11.97L20.4,10.76L21.94,3H5Z"/>
    </svg>
<% } else if (['js', 'jsx'].includes(ext)) { %>
    <!-- JavaScript files -->
    <svg class="w-6 h-6 text-yellow-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M3,3H21V21H3V3M7.73,18.04C8.13,18.89 8.92,19.59 10.27,19.59C11.77,19.59 12.8,18.79 12.8,17.04V11.26H11.1V17C11.1,17.86 10.75,18.08 10.2,18.08C9.62,18.08 9.38,17.68 9.09,17.18L7.73,18.04M13.71,17.86C14.21,18.84 15.22,19.59 16.8,19.59C18.4,19.59 19.6,18.76 19.6,17.23C19.6,15.82 18.79,15.19 17.35,14.57L16.93,14.39C16.2,14.08 15.89,13.87 15.89,13.37C15.89,12.96 16.2,12.64 16.7,12.64C17.18,12.64 17.5,12.85 17.79,13.37L19.1,12.5C18.55,11.54 17.77,11.17 16.7,11.17C15.19,11.17 14.22,12.13 14.22,13.4C14.22,14.78 15.03,15.43 16.25,15.95L16.67,16.13C17.45,16.47 17.91,16.68 17.91,17.26C17.91,17.74 17.46,18.09 16.76,18.09C15.93,18.09 15.45,17.66 15.09,17.06L13.71,17.86Z"/>
    </svg>
<% } else if (['ts', 'tsx'].includes(ext)) { %>
    <!-- TypeScript files -->
    <svg class="w-6 h-6 text-blue-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M1.125,0C0.502,0,0,0.502,0,1.125v21.75C0,23.498,0.502,24,1.125,24h21.75c0.623,0,1.125-0.502,1.125-1.125V1.125C24,0.502,23.498,0,22.875,0H1.125z M13.061,6.8v2.025h5.213v1.73h-5.213v2.51c0,2.566,1.578,3.415,3.717,3.415c0.316,0,0.652-0.043,0.957-0.087v1.78c-0.652,0.129-1.297,0.216-1.869,0.216c-3.308,0-5.513-1.822-5.513-5.336V6.8H13.061z M4.553,6.8h1.693v10.389H4.553V6.8z"/>
    </svg>
<% } else if (['json', 'xml'].includes(ext)) { %>
    <!-- Data files -->
    <svg class="w-6 h-6 text-green-600 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
    </svg>
<% } else if (['zip', 'rar', '7z', 'tar', 'gz'].includes(ext)) { %>
    <!-- Archive files -->
    <svg class="w-6 h-6 text-yellow-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,17H12V15H14M14,13H12V11H14M12,9H14V7H12M12,19H14V17H12M10,7V9H12V7M10,11V13H12V11M10,15V17H12V15M8,17H10V15H8M16,15H18V17H16M16,13H18V11H16M8,13H10V11H8M6,7V9H8V7M6,11V13H8V11M6,15V17H8V15M16,7H18V9H16M16,19H18V17H16M6,17V19H8V17M16,9H18V11H16M14,19V21H12V19M10,19V21H8V19M18,7V5H16V7M8,7V5H6V7M6,19V21H8V19M18,19V21H16V19M12,5V7H14V5M10,5V7H12V5"/>
    </svg>
<% } else if (ext === 'txt') { %>
    <!-- Text files -->
    <svg class="w-6 h-6 text-gray-600 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
    </svg>
<% } else if (['mp3', 'wav', 'flac', 'aac', 'ogg'].includes(ext)) { %>
    <!-- Audio files -->
    <svg class="w-6 h-6 text-pink-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12,3V13.55C11.41,13.21 10.73,13 10,13A3,3 0 0,0 7,16A3,3 0 0,0 10,19A3,3 0 0,0 13,16V7H17V4H12M10,16.5A1.5,1.5 0 0,1 8.5,15A1.5,1.5 0 0,1 10,13.5A1.5,1.5 0 0,1 11.5,15A1.5,1.5 0 0,1 10,16.5Z"/>
    </svg>
<% } else if (ext === 'py') { %>
    <!-- Python files -->
    <svg class="w-6 h-6 text-blue-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M9.585,11.692h4.328s2.432.039,2.432-2.35V5.391S16.714,3,11.936,3C7.362,3,7.647,4.983,7.647,4.983l.006,2.055h4.363v.617H5.92s-2.927-.332-2.927,4.282,2.555,4.45,2.555,4.45h1.524V14.11s-.083-2.555,2.513-2.555zm-.056-5.74a.784.784,0,1,1-.785-.785A.785.785,0,0,1,9.529,5.952z"/>
        <path d="M14.415,12.308H10.087s-2.432-.04-2.432,2.35v3.951S7.286,21,12.064,21c4.574,0,4.289-1.983,4.289-1.983l-.006-2.055H12.084v-.617h6.096s2.927.332,2.927-4.282-2.555-4.45-2.555-4.45H16.928V9.89s.083,2.555-2.513,2.555zm.056,5.74a.784.784,0,1,1,.785.785A.785.785,0,0,1,14.471,18.048z"/>
    </svg>
<% } else if (ext === 'java') { %>
    <!-- Java files -->
    <svg class="w-6 h-6 text-red-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M8.851,18.56s-.917.534.653.714c1.902.218,2.874.187,4.969-.211,0,0,.552.346,1.321.646C11.746,21.136,6.977,19,8.851,18.56M8.276,15.933s-1.028.761.542.924c2.032.209,3.636.227,6.413-.308,0,0,.384.389.987.602C10.6,18.239,5.327,16.467,8.276,15.933M13.116,11.475c1.158,1.333-.304,2.533-.304,2.533s2.939-1.518,1.589-3.418c-1.261-1.772-2.228-2.652,3.007-5.688C17.408,4.902,9.441,6.539,13.116,11.475"/>
    </svg>
<% } else if (ext === 'html') { %>
    <!-- HTML files -->
    <svg class="w-6 h-6 text-orange-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12,17.56L16.07,16.43L16.62,10.33H9.38L9.2,8.3H16.8L17,6.31H7L7.56,12.32H14.45L14.22,14.9L12,15.5L9.78,14.9L9.64,13.24H7.64L7.93,16.43L12,17.56M4.07,3H19.93L18.5,19.68L12,21.5L5.5,19.68L4.07,3Z"/>
    </svg>
<% } else if (ext === 'css') { %>
    <!-- CSS files -->
    <svg class="w-6 h-6 text-blue-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M5,3L4.35,6.34H17.94L17.5,8.5H3.92L3.26,11.83H16.85L16.09,15.64L10.61,17.45L5.86,15.64L6.19,14H2.85L2.06,18L9.91,21L18.96,18L20.16,11.97L20.4,10.76L21.94,3H5Z"/>
    </svg>
<% } else if (['php', 'rb', 'go', 'rs'].includes(ext)) { %>
    <!-- Other programming languages -->
    <svg class="w-6 h-6 text-purple-600 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
    </svg>
<% } else if (['c', 'cpp', 'h'].includes(ext)) { %>
    <!-- C/C++ files -->
    <svg class="w-6 h-6 text-blue-700 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10.5,15.97L10.91,18.18C10.91,18.18 11.33,18.5 12,18.5C12.67,18.5 13.09,18.18 13.09,18.18L13.5,15.97C13.74,15.04 14.24,14.54 15.5,14.25L15.95,14.16L16.25,12C16.25,12 15.89,11.67 15.11,11.67C14.32,11.67 13.96,12 13.96,12L13.37,14.09C13.18,15.22 12.68,15.72 11.42,16.01L10.97,16.1L10.67,18.26C10.67,18.26 11.03,18.59 11.81,18.59C12.58,18.59 12.94,18.26 12.94,18.26L13.53,16.17C13.72,15.04 14.22,14.54 15.5,14.25"/>
    </svg>
<% } else { %>
    <!-- Default file icon -->
    <svg class="w-6 h-6 text-gray-600 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
    </svg>
<% } %><%
const getFileExtension = (fileName) => fileName.split('.').pop().toLowerCase();
const ext = getFileExtension(fileName);
%>

<% if (['jpg', 'jpeg', 'png', 'gif', 'webp', 'bmp', 'svg'].includes(ext)) { %>
    <!-- Image files -->
    <div class="relative w-6 h-6 flex-shrink-0">
        <img src="/files<%= locals.currentPath === '/' ? '' : locals.currentPath %>/<%= fileName %>" 
             alt="<%= fileName %>" 
             class="w-6 h-6 object-cover rounded border border-gray-300"
             onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
        <svg class="w-6 h-6 text-green-600 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
        </svg>
    </div>
<% } else if (['mp4', 'avi', 'mov', 'mkv', 'webm', 'flv'].includes(ext)) { %>
    <!-- Video files -->
    <div class="relative w-6 h-6 flex-shrink-0">
        <video class="w-6 h-6 object-cover rounded border border-gray-300" muted>
            <source src="/files<%= locals.currentPath === '/' ? '' : locals.currentPath %>/<%= fileName %>" type="video/<%= ext %>">
        </video>
        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded">
            <svg class="w-3 h-3 text-white" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path>
            </svg>
        </div>
    </div>
<% } else if (ext === 'pdf') { %>
    <!-- PDF files -->
    <svg class="w-6 h-6 text-red-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        <path d="M8,11H16V13H8V11M8,15H16V17H8V15M8,7H16V9H8V7Z" fill="white"/>
    </svg>
<% } else if (['doc', 'docx'].includes(ext)) { %>
    <!-- Word documents -->
    <svg class="w-6 h-6 text-blue-700 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        <path d="M7,11L9,17H11L12.5,12.5L14,17H16L18,11H16L15,14.5L13.5,11H11.5L10,14.5L9,11H7Z" fill="white"/>
    </svg>
<% } else if (['xls', 'xlsx'].includes(ext)) { %>
    <!-- Excel files -->
    <svg class="w-6 h-6 text-green-700 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        <path d="M8,12H16V14H8V12M8,16H16V18H8V16M8,8H16V10H8V8Z" fill="white"/>
    </svg>
<% } else if (['ppt', 'pptx'].includes(ext)) { %>
    <!-- PowerPoint files -->
    <svg class="w-6 h-6 text-orange-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        <path d="M8,11V17H10V15H12A2,2 0 0,0 14,13V13A2,2 0 0,0 12,11H8M10,13H12V13H10V13Z" fill="white"/>
    </svg>
<% } else if (ext === 'txt') { %>
    <!-- Text files -->
    <svg class="w-6 h-6 text-gray-600 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
    </svg>
<% } else if (['mp3', 'wav', 'flac', 'aac', 'ogg'].includes(ext)) { %>
    <!-- Audio files -->
    <svg class="w-6 h-6 text-pink-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12,3V13.55C11.41,13.21 10.73,13 10,13A3,3 0 0,0 7,16A3,3 0 0,0 10,19A3,3 0 0,0 13,16V7H17V4H12M10,16.5A1.5,1.5 0 0,1 8.5,15A1.5,1.5 0 0,1 10,13.5A1.5,1.5 0 0,1 11.5,15A1.5,1.5 0 0,1 10,16.5Z"/>
    </svg>
<% } else if (ext === 'py') { %>
    <!-- Python files -->
    <svg class="w-6 h-6 text-yellow-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M9.585,11.692h4.328s2.432.039,2.432-2.35V5.391S16.714,3,11.936,3C7.362,3,7.647,4.983,7.647,4.983l.006,2.055h4.363v.617H5.92s-2.927-.332-2.927,4.282,2.555,4.45,2.555,4.45h1.524V14.11s-.083-2.555,2.513-2.555zm-.056-5.74a.784.784,0,1,1-.785-.785A.785.785,0,0,1,9.529,5.952z"/>
        <path d="M14.415,12.308H10.087s-2.432-.04-2.432,2.35v3.951S7.286,21,12.064,21c4.574,0,4.289-1.983,4.289-1.983l-.006-2.055H12.084v-.617h6.096s2.927.332,2.927-4.282-2.555-4.45-2.555-4.45H16.928V9.89s.083,2.555-2.513,2.555zm.056,5.74a.784.784,0,1,1,.785.785A.785.785,0,0,1,14.471,18.048z"/>
    </svg>
<% } else if (ext === 'java') { %>
    <!-- Java files -->
    <svg class="w-6 h-6 text-red-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M8.851,18.56s-.917.534.653.714c1.902.218,2.874.187,4.969-.211,0,0,.552.346,1.321.646C11.746,21.136,6.977,19,8.851,18.56M8.276,15.933s-1.028.761.542.924c2.032.209,3.636.227,6.413-.308,0,0,.384.389.987.602C10.6,18.239,5.327,16.467,8.276,15.933"/>
        <path d="M13.116,11.475c1.158,1.333-.304,2.533-.304,2.533s2.939-1.518,1.589-3.418c-1.261-1.772-2.228-2.652,3.007-5.688C17.408,4.902,9.441,6.539,13.116,11.475"/>
        <path d="M18.97,19.827s.679.559-.747.991c-2.712.822-11.288,1.069-13.669.033-.856-.373.75-.89,1.254-.998a3.246,3.246,0,0,1,.828-.092c-.95-.671-6.156,1.317-2.643,1.887C13.718,22.936,21.646,20.632,18.97,19.827"/>
        <path d="M9.292,13.21s-4.362,1.036-1.544,1.412c1.189.159,3.561.123,5.77-.062,1.806-.152,3.618-.477,3.618-.477s-.637.272-1.098.587c-4.429,1.165-12.986.623-10.522-.568A4.056,4.056,0,0,1,9.292,13.21"/>
        <path d="M17.116,17.584c4.503-2.34,2.421-4.589.968-4.285a3.015,3.015,0,0,0-.433.086s.111-.174.322-.248c2.407-.847,4.253,2.98-.924,4.563A.36.36,0,0,0,17.116,17.584"/>
        <path d="M14.401,1.758s2.494,2.494-2.365,6.33c-3.896,3.077-.888,4.832-.001,6.836C9.611,13.145,8.21,11.507,8.21,11.507s3.612,3.006,6.492-1.22C17.231,7.005,19.768,4.332,14.401,1.758"/>
    </svg>
<% } else if (ext === 'html') { %>
    <!-- HTML files -->
    <svg class="w-6 h-6 text-orange-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12,17.56L16.07,16.43L16.62,10.33H9.38L9.2,8.3H16.8L17,6.31H7L7.56,12.32H14.45L14.22,14.9L12,15.5L9.78,14.9L9.64,13.24H7.64L7.93,16.43L12,17.56M4.07,3H19.93L18.5,19.68L12,21.5L5.5,19.68L4.07,3Z"/>
    </svg>
<% } else if (ext === 'css') { %>
    <!-- CSS files -->
    <svg class="w-6 h-6 text-blue-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M5,3L4.35,6.34H17.94L17.5,8.5H3.92L3.26,11.83H16.85L16.09,15.64L10.61,17.45L5.86,15.64L6.19,14H2.85L2.06,18L9.91,21L18.96,18L20.16,11.97L20.4,10.76L21.94,3H5Z"/>
    </svg>
<% } else if (['js', 'jsx'].includes(ext)) { %>
    <!-- JavaScript files -->
    <svg class="w-6 h-6 text-yellow-500 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M3,3H21V21H3V3M7.73,18.04C8.13,18.89 8.92,19.59 10.27,19.59C11.77,19.59 12.8,18.79 12.8,17.04V11.26H11.1V17C11.1,17.86 10.75,18.08 10.2,18.08C9.62,18.08 9.38,17.68 9.09,17.18L7.73,18.04M13.71,17.86C14.21,18.84 15.22,19.59 16.8,19.59C18.4,19.59 19.6,18.76 19.6,17.23C19.6,15.82 18.79,15.19 17.35,14.57L16.93,14.39C16.2,14.08 15.89,13.87 15.89,13.37C15.89,12.96 16.2,12.64 16.7,12.64C17.18,12.64 17.5,12.85 17.79,13.37L19.1,12.5C18.55,11.54 17.77,11.17 16.7,11.17C15.19,11.17 14.22,12.13 14.22,13.4C14.22,14.78 15.03,15.43 16.25,15.95L16.67,16.13C17.45,16.47 17.91,16.68 17.91,17.26C17.91,17.74 17.46,18.09 16.76,18.09C15.93,18.09 15.45,17.66 15.09,17.06L13.71,17.86Z"/>
    </svg>
<% } else if (['ts', 'tsx'].includes(ext)) { %>
    <!-- TypeScript files -->
    <svg class="w-6 h-6 text-blue-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M1.125,0C0.502,0,0,0.502,0,1.125v21.75C0,23.498,0.502,24,1.125,24h21.75c0.623,0,1.125-0.502,1.125-1.125V1.125C24,0.502,23.498,0,22.875,0H1.125z M13.061,6.8v2.025h5.213v1.73h-5.213v2.51c0,2.566,1.578,3.415,3.717,3.415c0.316,0,0.652-0.043,0.957-0.087v1.78c-0.652,0.129-1.297,0.216-1.869,0.216c-3.308,0-5.513-1.822-5.513-5.336V6.8H13.061z M4.553,6.8h1.693v10.389H4.553V6.8z"/>
    </svg>
<% } else if (['json', 'xml'].includes(ext)) { %>
    <!-- Data files -->
    <svg class="w-6 h-6 text-green-600 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9V7a1 1 0 011-1h2a1 1 0 011 1v2"></path>
    </svg>
<% } else if (['zip', 'rar', '7z', 'tar', 'gz'].includes(ext)) { %>
    <!-- Archive files -->
    <svg class="w-6 h-6 text-yellow-600 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14,17H12V15H14M14,13H12V11H14M12,9H14V7H12M12,19H14V17H12M10,7V9H12V7M10,11V13H12V11M10,15V17H12V15M8,17H10V15H8M16,15H18V17H16M16,13H18V11H16M8,13H10V11H8M6,7V9H8V7M6,11V13H8V11M6,15V17H8V15M16,7H18V9H16M16,19H18V17H16M6,17V19H8V17M16,9H18V11H16M14,19V21H12V19M10,19V21H8V19M18,7V5H16V7M8,7V5H6V7M6,19V21H8V19M18,19V21H16V19M12,5V7H14V5M10,5V7H12V5M18,9V7H20V9M4,9V7H6V9M20,11V9H22V11M2,11V9H4V11M4,13V11H2V13M22,13V11H20V13M20,15V13H22V15M4,15V13H2V15M2,17V15H4V17M22,17V15H20V17M20,19V17H22V19M4,19V17H2V19"/>
    </svg>
<% } else if (['php', 'rb', 'go', 'rs'].includes(ext)) { %>
    <!-- Other programming languages -->
    <svg class="w-6 h-6 text-purple-600 flex-shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
    </svg>
<% } else if (['c', 'cpp', 'h'].includes(ext)) { %>
    <!-- C/C++ files -->
    <svg class="w-6 h-6 text-blue-700 flex-shrink-0" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10.5,15.97L10.91,18.18C10.91,18.18 11.33,18.5 12,18.5C12.67,18.5 13.09,18.18 13.09,18.18L13.5,15.97C13.74,15.04 14.24,14.54 15.5,14.25L15.95,14.16L16.25,12C16.25,12 15.89,11.67 15.11,11.67C14.32,11.67 13.96,12 13.96,12L13.37,14.09C13.18,15.22